.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
}

/* Modal content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    max-width: 600px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    color: white;
}

/* Close button */
.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: #ccc;
}



body {
    /*font-family: Arial, sans-serif;*/
    font-family: 'Oswald', Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c789c;
    color: white;
    padding: 15px 20px;
    text-align: center;
    /*font-family: 'Nerko One', cursive;*/
    font-family: 'Oswald', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    /*font-family: 'Nerko One', cursive;*/
    font-family: 'Oswald', Arial, sans-serif;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #4e94b5;
    color: black;
}

section {
    padding: 20px;
  /*font-family: 'Nerko One', cursive;*/
    font-family: 'Oswald', Arial, sans-serif;
}



 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
} 


