* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 15px;
}

/* Title */
h1 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 20px;
}

/* Container vertical */
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

/* Boxes */
.box {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Timer */
#timer {
  font-size: 22px;
  font-weight: bold;
  color: #22c55e;
  margin-bottom: 10px;
}

/* Inputs */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background: #334155;
  color: white;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

/* Relapse button */
#relapseBtn {
  background: #ef4444;
  color: white;
}

/* Notes list */
.noteItem {
  background: #334155;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.noteDate {
  color: #38bdf8;
  font-size: 14px;
}

.noteText {
  font-size: 14px;
}

/* Phone optimization */
@media (max-width: 600px) {

  body {
    padding: 10px;
  }

  #timer {
    font-size: 20px;
  }

}
